@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.udois {
	font-family: Montserrat;
	font-weight: 600;
}

.dropdown-menu {
  right: 0 ;
  left:auto;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}